# {{ ansible_managed }}
[Unit]
Description=Solana RPC Node
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=solana
Group=solana
ExecStart=/usr/local/bin/solana-validator \
  --identity /home/solana/keypairs/identity.json \
  --no-voting \
  --ledger {{ ledger_path }} \
  --rpc-port {{ rpc_port }} \
  --gossip-port {{ gossip_port }} \
  --dynamic-port-range 8000-8020 \
  --entrypoint {{ hostvars[groups['bootstrap'][0]]['private_ip'] }}:{{ gossip_port }} \
  --known-validator {{ bootstrap_identity_pubkey }} \
  --expected-genesis-hash {{ genesis_hash }} \
  --limit-ledger-size 50000000 \
  --log {{ log_path }}/validator.log \
  --gossip-host {{ private_ip }} \
  --no-port-check \
  --allow-private-addr \
  --no-snapshot-fetch \
  --no-genesis-fetch \
  --enable-rpc-transaction-history \
  --enable-extended-tx-metadata-storage \
  --full-rpc-api \
  --rpc-bind-address 0.0.0.0
Restart=always
RestartSec=10
StartLimitIntervalSec=0
LimitNOFILE=1000000
LimitNPROC=65535
TimeoutStopSec=60
Environment="PATH=/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
