# {{ ansible_managed }}
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "node-exporter"
    static_configs:
      - targets:
          - "{{ hostvars[groups['bootstrap'][0]]['private_ip'] }}:9100"
        labels:
          role: "bootstrap"
          instance_name: "{{ groups['bootstrap'][0] }}"
{% for host in groups['validators'] %}
      - targets:
          - "{{ hostvars[host]['private_ip'] }}:9100"
        labels:
          role: "validator"
          instance_name: "{{ host }}"
{% endfor %}
      - targets:
          - "{{ hostvars[groups['rpc'][0]]['private_ip'] }}:9100"
        labels:
          role: "rpc"
          instance_name: "{{ groups['rpc'][0] }}"

  - job_name: "solana-metrics"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "{{ hostvars[groups['bootstrap'][0]]['private_ip'] }}:{{ metrics_port }}"
        labels:
          role: "bootstrap"
          instance_name: "{{ groups['bootstrap'][0] }}"
{% for host in groups['validators'] %}
      - targets:
          - "{{ hostvars[host]['private_ip'] }}:{{ metrics_port }}"
        labels:
          role: "validator"
          instance_name: "{{ host }}"
{% endfor %}
      - targets:
          - "{{ hostvars[groups['rpc'][0]]['private_ip'] }}:{{ metrics_port }}"
        labels:
          role: "rpc"
          instance_name: "{{ groups['rpc'][0] }}"
